<section class="app-downloads">
    <div class="container">
        <div class="left-picture">
            <img src="images/screens/screens.svg" alt="">
        </div>
        <div class="right-texts">
            <h2>Download Our App for Any Devices:</h2>

            <div class="download">
                <div class="store-name">App Store</div>
                <div class="app-rating">
                    <img src="images/screens/star1.svg" alt="">
                    <img src="images/screens/star2.svg" alt="">
                    <img src="images/screens/star3.svg" alt="">
                    <img src="images/screens/star4.svg" alt="">
                    <img src="images/screens/star5.svg" alt="">
                </div>
                <div class="download-app">
                    <div class="download-app-info">
                        <h4>Editor's Choice</h4>
                        <p>rating 4.7, 187K+ reviews</p>
                    </div>
                    <div><img src="images/screens/appstore.svg" alt=""></div>
                </div>
            </div>
            <div class="download">
                <div class="store-name">Google Play</div>
                <div class="app-rating">
                    <img src="images/screens/star1.svg" alt="">
                    <img src="images/screens/star2.svg" alt="">
                    <img src="images/screens/star3.svg" alt="">
                    <img src="images/screens/star4.svg" alt="">
                    <img src="images/screens/star5.svg" alt="">
                </div>

                <div class="download-app">

                    <div class="download-app-info">
                        <h4>App of the Day</h4>
                        <p>rating 4.8, 30K+ reviews</p>
                    </div>
                    <div><img src="images/screens/googleplay.svg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>
