<section class="features">
    <div class="container">
        <div class="section-title">
            <h1>What Do You Get with Our Tool?</h1>
            <p>Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
        </div>
        <div class="tool-features">
            <div class="feature-box">
                <img src="images/icon-group/icon1.svg" alt="">
                <h5>Comments on Tasks</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="feature-box">
                <img src="images/icon-group/icon2.svg" alt="">
                <h5>Tasks Analytics</h5>
                <p>Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate.</p>
            </div>
            <div class="feature-box">
                <img src="images/icon-group/icon3.svg" alt="">
                <h5>Multiple Assignees</h5>
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </div>
            <div class="feature-box">
                <img src="images/icon-group/icon4.svg" alt="">
                <h5>Notifications</h5>
                <p>Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra.</p>
            </div>
            <div class="feature-box">
                <img src="images/icon-group/icon5.svg" alt="">
                <h5>Sections & Subtasks</h5>
                <p>Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus.</p>
            </div>
            <div class="feature-box">
                <img src="images/icon-group/icon6.svg" alt="">
                <h5>Data Security</h5>
                <p>Aliquam malesuada neque eget elit nulla vestibulum nunc cras.</p>
            </div>
        </div>
    </div>
</section>
