<section class="timeplanner">
    <div class="container">
        <div class="taskmaster-picture">
            <img src="images/manageyourwork/schedule.svg" alt="">
        </div>
        <div class="contents">
            <h2>Manage Your Work</h2>

            <div class="list">
                <div class="checklist">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                    <label for="checkbox1">

                        Powerful project management
                    </label>
                </div>
                <div class="checklist">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                    <label for="checkbox2" checked="checked">

                        Transparent work management
                    </label>
                </div>
                <div class="checklist">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                    <label for="checkbox3">

                        Manage work & focus on the most important tasks
                    </label>
                </div>
                <div class="checklist">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                    <label for="checkbox4">

                        Track your progress with interactive charts
                    </label>
                </div>
                <div class="checklist">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                    <label for="checkbox5">

                        Easiest way to track time spent on tasks
                    </label>
                </div>

                <button class="btn btn-theme">Learn more -></button>

            </div>
        </div>
    </div>
</section>
