<section class="work-tools">

    <div class="container">
        <div class="w-tools">
            <h1>Integrate Top Work Tools</h1>
        </div>

        <div class="boxes">

            <div class="box-1">
                <img src="images/worktools/work-tool-box-1.svg" alt="">
            </div>
            <div class="box-2">
                <img src="images/worktools/work-tool-box-2.svg" alt="">
            </div>
            <div class="box-3">
                <img src="images/worktools/work-tool-box-3.svg" alt="">
            </div>
            <div class="box-4">
                <img src="images/worktools/work-tool-box-4.svg" alt="">
            </div>
            <div class="box-5">
                <img src="images/worktools/work-tool-box-5.svg" alt="">
            </div>
            <div class="box-6">
                <img src="images/worktools/work-tool-box-6.svg" alt="">
            </div>
            <div class="box-7">
                <img src="images/worktools/work-tool-box-7.svg" alt="">
            </div>
            <div class="box-8">
                <img src="images/worktools/work-tool-box-8.svg" alt="">
            </div>
        </div>
    </div>

</section>
